#-------------------------------------------------------------------#
# Each line indicates path to a testscript file                     #
# All lines starting with "#" will be ignored                       #
# If the path to the testscript file is incorrec it will be ignored.#
#-------------------------------------------------------------------#

testsuite/UITests/ebay.py